includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - database
        - routes

    bootstrapFiles:
        - _ide_helper_models.php

    excludePaths:
        - _ide_helper.php
        - .phpstorm.meta.php
        - tests
        - vendor
